<div class="booyah-box col-10 offset-1">
  <h1><%= @food.name %></h1>
  <i><%= @food.description %></i>
  <br/><br/>
  <p><%= @food.country %></p>
  <%= image_tag 'tteokbokki.jpg' %>
</div>

<%= simple_form_for @photo, url: food_photos_path(@food) do |f| %>
  <div class="modal-body">
    <%= f.input :picture %>
    <%= f.input :caption %>
  </div>